/*General*/

*{
    margin: 0;
    padding: 0;
}
header {
    padding: 16px;
    color: #eee; /* DEC: rgb(236,236,236) | HEX: #rrggbb */
    background-color: rgb(4, 14, 14);
    text-align: center;
}
.titulo{
    font-size: 70px;
    font-family: 'Nosifer', sans-serif;
    color: rgba(8, 240, 228, 0.568);
}
#casita{
    left: 5%;
    position: absolute;
    color: rgba(8, 240, 228, 0.568);;
}
footer{
    padding: 10px;
    color: #eee; /* DEC: rgb(236,236,236) | HEX: #rrggbb */
    background-color: rgba(8, 240, 228, 0.568);
    text-align: center;
    position: absolute;
    bottom: 0%;
    right: 0%;
    left: 0%;
    
}

/* index */

/* body, background*/
.pag1{
    margin: 0;
    font-family: 'segoe ui', 'calibri', sans-serif;
    background-image: url(../recursos/img-index.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    background-size: 100% 100%;
}

/* BOTONES */

.button1{
    padding: 50px;
    width: 250px;
    font-size: 16px;
    text-align: center;
    border-radius: 3%;
    position: relative;
    border: none;
    outline: none;
    cursor: pointer;
    overflow: hidden;
}

/* BOX DE BOTONES*/

.box{
margin: 16px;
border-radius: 3%;
padding: 10px;
width: 250%; /* porcentaje del Contenedor */
max-width: 250px;
text-align: center;
float: left;
margin-right: 8px;
}
.button1:hover{
    color: white;
}
.button1 span {
    position: absolute;
    background: black;
    transition: .5s;  
}
.button1 span:nth-child(1) {
    width: 100%;
    height: 3px;
    top: 0;
    left: -100%;
}
.button1 span:nth-child(2) {
    width: 100%;
    height: 3px;
    bottom: 0;
    right: -100%;
}
.button1 span:nth-child(3) {
    width: 3px;
    height: 100%;
    bottom: -100%;
    left: 0;
}
.button1 span:nth-child(4) {
    width: 3px;
    height: 100%;
    top: -100%;
    right: 0;
}
.button1:hover span:nth-child(1) {
    left: 0;
}

.button1:hover span:nth-child(2) {
    right: 0;
}

.button1:hover span:nth-child(3) {
    bottom: 0;
}
.button1:hover span:nth-child(4) {
    top: 0;
}
#boton-colores{
    background-color: rgb(58, 254, 254);
    font-weight: bold;
}
#boton-trabajos{
    background-color: rgb(255, 255, 55);
    font-weight: bold;
}
#boton-nosotros{
    background-color: rgb(60, 255, 60);
    font-weight: bold;
}
#boton-contacto{
    background-color: rgb(251, 160, 251);
    font-weight: bold;
}
.lista{
    list-style-type: none;
}

/* CIERRE DE BOTONES*/

/* footer*/
    
.footer1{
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: black;
}

/* Sobre-Nosotros*/

/* body*/

.backgroundbody{
    background-image: url(../recursos/img-notros.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
}

/* Caja*/

.box1{
    margin: 16px;
    border-radius: 8px;
    padding: 16px;
    background-color: rgba(8, 240, 228, 0.568);
    color: #000000;
    font-size: 19px;
}
.box1 img {
    float: left;
    margin-right: 8px;
}
.box1{
    overflow: hidden;
}

/* pagina contacto*/

.background-contacto{
    background-image: url(../recursos/formulariocontacto.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    align-items: center;
    display: grid;
}
.contenedor{
    position: relative;
    width: 400px;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#formulario{
    text-align: center;
}
#nombre {
    padding: 20px;
    width: 300px;
    font-size: 20px;  
}
#mail{
    padding: 20px;
    width: 300px;
    font-size: 20px;
}
#consulta{
    padding: 60px;
    width: 300px;
    font-size: 20px;
}
#enviar{
    padding: 20px;
    width: 300px;
    font-size: 20px;
}

/* mapa*/

.map-outer{
    padding: 5%;
    position:fixed;
    left: 400px;
}
.gmap-canvas {
    overflow:hidden;
    background:none!important;
}
.map-outer,
.gmap-canvas {
    height:500px;
    width:1200px;
}

/* footer */

#redes{
    align-items: center;
    display: inline-flex;
    justify-content: center;
}
#img-redes{
    width: 70px;
    height: 70px;
    margin-left: 30px;
    margin-right: 30px;
    margin-bottom: 5px;
}
.wspfooter{
    text-align: center;
    color: #ffffff;
    font-size: 30px;
    background-color: rgba(0, 0, 0, 0.568);
}
.footer{
    text-align: center;
    font-size: 30px;
    color: #ffffff;
    background-color: rgba(0, 0, 0, 0.568);
}

/* Colores */

.background-colores{
    background-image: url(../recursos/img-colores.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    display: grid;
}

.contenedor{
    position: relative;
    width: 400px;
    height: 440px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#litros{
    padding: 20px;
    width: 300px;
    font-size: 20px;
}
#enviar-litros{
    padding: 20px;
    width: 300px;
    font-size: 20px;
}
#parrafo-colores{
    text-align: center;
    color:white;
    font-size: 30px;
}

/* pagina trabajos previos*/

/* carrusel*/
.background-trabajoprevios{
    background-image: url(../recursos/trabajos\ previos.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment:fixed;
    align-items: center;
    justify-content: center;
    display: grid;
}
.boxcarrusel{
    margin: 5px;
    border-radius: 8px;
    background-color: rgb(0, 0, 0);
    color: #020202;
    height: 720px;
    width: 1024px;
    float: center;
    margin-left: 470px;
}
.titulo h3{
    color: rgb(255, 255, 255);
    font-size: 35px;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.carousel-control-prev{
    background-color: #00000085;
    width: 1px;
}
.carousel-control-next{
    background-color: #00000085;
}

/* box principal*/
.box2{
    margin: 10px;
    border-radius: 8px;
    padding: 10px;
    background-color: rgba(8, 240, 228, 0.568);
    color: #020202;
    font-size: 19px;   
}
.box3  {
    float: left;
    width: 800px;
    height: 500px;
    margin-right: 5px;
}
.box3{
    overflow: hidden;
}
